.SearchBar form{
    display: flex;
    justify-content: space-evenly;
    
}

.SearchBar form input{
    width: 65%;
}

.SearchBar input{
    max-height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}